<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Real Time Products</title>
</head>
<body>
  <h1>Real Time Products</h1>
  <ul id="productList">
    {{#each products}}
      <li>{{this.title}} - {{this.description}} - {{this.price}}</li>
    {{/each}}
  </ul>

  <form id="addProductForm" action="/api/products" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>


    <button type="submit">Agregar Producto</button>
  </form>

  <form id="deleteProductForm">
    <label for="productId">ID del Producto:</label>
    <input type="text" id="productId" name="productId" required>

    <button type="submit">Eliminar Producto</button>
  </form>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const socket = io();

    socket.on("actualizarProductos", (products) => {
      updateProductList(products);
    });

    function updateProductList(products) {
      const productList = document.querySelector("#productList");
      productList.innerHTML = "";

      products.forEach((product) => {
        const listItem = document.createElement("li");
        listItem.textContent = `${product.title} - ${product.description} - ${product.price}`;
        productList.appendChild(listItem);
      });
    }

    document.getElementById("addProductForm").addEventListener("submit", (event) => {
      event.preventDefault();
      const productData = {
        title: document.getElementById("title").value,
        description: document.getElementById("description").value,
      };

      socket.emit("agregarProducto", productData);
    });

    document.getElementById("deleteProductForm").addEventListener("submit", (event) => {
      event.preventDefault();
      const productId = document.getElementById("productId").value;

      socket.emit("eliminarProducto", productId);
    });
  });
</script>
</body>
</html>

